.lol {
  height: 100vh;
  overflow: auto;

  display: flex;
  justify-content: center;
}

.lol-background {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;

  background-image: url('./Background.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.lol-menu {
  /* https://stackoverflow.com/a/33455342 */
  margin: auto;

  min-width: 450px;
  min-height: 450px;

  width: 450px;
  height: 450px;

  background-image: radial-gradient(circle, transparent 0, transparent 89px, hsla(41, 48%, 38%, 1) 90px, hsla(41, 48%, 38%, 0) 180px);
}

.lol-ping {
  user-select: none;
}

.lol-ping__layout {
  background-image: radial-gradient(circle, transparent 0, transparent 89px, hsla(0, 0%, 0%, 0.4) 90px, hsla(0, 0%, 0%, 0.4) 180px, transparent 181px);
}

.lol-ping__layout--major {
  background-image: radial-gradient(circle, transparent 0, transparent 89px, hsla(0, 0%, 0%, 0.4) 90px, hsla(0, 0%, 0%, 0.4) 220px, transparent 221px);
}

.lol-ping:hover .lol-ping__layout,
.lol-ping:focus .lol-ping__layout {
  background-image: radial-gradient(circle, transparent 0, transparent 89px, hsla(180, 70%, 40%, 1) 90px, hsla(0, 0%, 0%, 0.4) 180px, transparent 181px);
}

.lol-ping:hover .lol-ping__layout--major,
.lol-ping:focus .lol-ping__layout--major {
  background-image: radial-gradient(circle, transparent 0, transparent 89px, hsla(180, 70%, 40%, 1) 90px, hsla(0, 0%, 0%, 0.4) 220px, transparent 221px);
}

.lol-ping:active .lol-ping__layout {
  background-image: radial-gradient(circle, transparent 0, transparent 89px, hsla(150, 70%, 40%, 1) 90px, hsla(0, 0%, 0%, 0.4) 180px, transparent 181px);
}

.lol-ping:active .lol-ping__layout--major {
  background-image: radial-gradient(circle, transparent 0, transparent 89px, hsla(150, 70%, 40%, 1) 90px, hsla(0, 0%, 0%, 0.4) 220px, transparent 221px);
}

.lol-ping__icon {
  width: 40px;
  height: 40px;

  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}

.lol-ping__icon--retreat {
  background-image: url('./Retreat.png');
}

.lol-ping__icon--push {
  background-image: url('./Push.png');
}

.lol-ping__icon--on-my-way {
  background-image: url('./OnMyWay.png');
}

.lol-ping__icon--all-in {
  background-image: url('./AllIn.png');
}

.lol-ping__icon--assist-me {
  background-image: url('./AssistMe.png');
}

.lol-ping__icon--hold {
  background-image: url('./Hold.png');
}

.lol-ping__icon--enemy-missing {
  background-image: url('./EnemyMissing.png');
}

.lol-ping__icon--bait {
  background-image: url('./Bait.png');
}

.lol-ping-indicator {
  position: relative;

  width: 180px;
  height: 180px;

  display: flex;
  align-items: center;
  justify-content: center;

  background-color: hsla(0, 0%, 0%, 65%);
  box-shadow: 0 0 0 3px hsl(41, 48%, 38%);
  border-radius: 50%;

  user-select: none;
  z-index: 1;
}

.lol-ping-indicator::before {
  position: absolute;
  top: 3px;
  right: 3px;
  bottom: 3px;
  left: 3px;

  content: '';

  border: 3px solid hsl(41, 39%, 56%);
  border-radius: 50%;
}

.lol-ping-indicator__label {
  color: white;

  font-family: serif;
  font-weight: 700;

  text-transform: uppercase;
  text-shadow: 0 0 4px black;
}

.lol-ping-arrow {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;

  margin: auto;
  pointer-events: none;

  width: 50px;
  height: 50px;
}

.lol-ping-arrow__bottom {
  stroke: hsl(175, 90%, 39%);
  stroke-width: 1px;
}

.lol-ping-arrow__center {
  fill: hsla(0, 0%, 0%, 65%);
}

.lol-ping-arrow__top {
  fill: hsl(41, 39%, 56%);
  filter: drop-shadow(0 0 1px hsla(0, 0%, 0%, 0.4));
}
