.circle-menu,
.circle-menu-slice,
.circle-menu-spoke,
.circle-menu-layout,
.circle-menu-label {
  box-sizing: border-box;

  margin: 0;
  padding: 0;
  border: 0;

  background: none;
  appearance: none;
  list-style: none;
  text-decoration: none;

  font-family: inherit;
  font-size: inherit;
  font-weight: inherit;

  line-height: normal;
  text-align: center;

  -webkit-tap-highlight-color: transparent;
}

.circle-menu:focus,
.circle-menu-slice:focus,
.circle-menu-spoke:focus,
.circle-menu-layout:focus,
.circle-menu-label:focus {
  outline: none;
}

.circle-menu,
.circle-menu-slice,
.circle-menu-layout {
  overflow: hidden;
  overflow: clip;
}

.circle-menu {
  position: relative;

  display: flex;
  justify-content: center;
  align-items: center;

  border-radius: 50%;
  clip-path: circle(50%);
}

.circle-menu-slice {
  position: absolute;
  bottom: 50%;
  left: 50%;

  width: 200%;
  height: auto;

  padding-bottom: 200%;

  transform-origin: bottom left;
}

.circle-menu-layout {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;

  width: 100%;
  height: 100%;

  display: flex;
  align-items: center;
  justify-content: center;

  transform-origin: bottom;
}

.circle-menu-slice > .circle-menu-layout {
  padding-top: 25%;
  padding-bottom: 50%;
}

.circle-menu-layout--vertical {
  flex-direction: column-reverse;
}

.circle-menu-layout--vertical.circle-menu-layout--start {
  justify-content: flex-start;
}

.circle-menu-layout--vertical.circle-menu-layout--center {
  justify-content: center;
}

.circle-menu-layout--vertical.circle-menu-layout--end {
  justify-content: flex-end;
}

.circle-menu-layout--horizontal {
  flex-direction: row;
}

.circle-menu-layout--horizontal.circle-menu-layout--start {
  justify-content: flex-end;
}

.circle-menu-layout--horizontal.circle-menu-layout--center {
  justify-content: center;
}

.circle-menu-layout--horizontal.circle-menu-layout--end {
  justify-content: flex-start;
}

.circle-menu-spoke {
  position: absolute;
  bottom: 50%;
  left: 50%;

  height: 50%;

  transform-origin: bottom;
}

.circle-menu-label {
  display: flex;
  justify-content: center;
  align-items: center;
}

.circle-menu-label--start {
  justify-content: flex-start;
}

.circle-menu-label--center {
  justify-content: center;
}

.circle-menu-label--end {
  justify-content: flex-end;
}
