.csgo-buy-menu {
  width: 600px;
  height: 600px;

  border: 6px solid hsl(0, 0%, 50%);
  background-image: radial-gradient(circle, hsl(0, 0%, 50%) 0, hsl(0, 0%, 0%) 240px);
}

.csgo-buy-menu__team {
  position: relative;

  padding: 0.5em;
  border: 0.25em solid hsl(0, 0%, 40%);
  border-radius: 100%;
  background-color: black;

  width: 100px;
  height: 100px;

  z-index: 1;
}

.csgo-item__button {
  background-color: black;
}

.csgo-item__button:hover,
.csgo-item__button:focus {
  background-image: radial-gradient(circle, hsl(0, 0%, 50%) 60px, hsl(0, 0%, 0%) 300px);
}

.csgo-item__hotkey {
  font-size: 1.25rem;
  color: hsl(0, 0%, 60%);
}

.csgo-item__details {
  display: flex;
  justify-content: center;
}

.csgo-item-details {
  display: flex;
  flex-direction: column-reverse;

  width: 150px;
}

.csgo-item-details__price {
  margin-bottom: 0.25em;

  font-family: sans-serif;
  font-size: 1.25rem;

  color: hsl(114, 88%, 41%);
}

.csgo-item-details__name {
  font-family: sans-serif;
  font-size: 1.25rem;

  color: hsl(0, 0%, 70%);
}
