.gta-weapon-menu {
  width: 600px;
  height: 600px;

  border-radius: 0;
  clip-path: none;
}

.gta-weapon-menu__center {
  width: 54%;
  height: 54%;
  border-radius: 50%;

  user-select: none;

  z-index: 1;
}

.gta-weapon__button {
  background-image: radial-gradient(circle, transparent 0%, transparent 19%, hsl(0, 0%, 76%) 19%, hsl(0, 0%, 76%) 30%, hsl(0, 0%, 70%) 30%, hsl(0, 0%, 70%) 31%, transparent 31.5%);
}

.gta-weapon:hover .gta-weapon__button,
.gta-weapon:focus .gta-weapon__button {
  background-image: radial-gradient(circle, transparent 0%, transparent 19%, hsl(100, 70%, 76%) 19%, hsl(100, 70%, 76%) 30%, hsl(100, 70%, 70%) 30%, hsl(100, 70%, 70%) 31%, transparent 31.5%);
}

.gta-weapon__label {
  display: flex;
  flex-direction: column;
}

.gta-weapon__icon {
  width: auto;
  height: 46px;
}

.gta-weapon-ammo {
  margin-top: 0.25em;

  font-family: sans-serif;
  font-size: 1.125rem;
  font-weight: 700;

  color: white;
  text-shadow: 0 0 1px transparent, 1px 2px 2px hsla(0, 0%, 0%, 0.8);
}

.gta-weapon-ammo__reserve {
  color: hsl(0, 0%, 60%);
}
