.lol {
  height: 100vh;
  overflow: auto;

  display: flex;
  justify-content: center;
}

.lol-background {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;

  background-image: url('https://images.contentstack.io/v3/assets/blt731acb42bb3d1659/bltd15eac8e2b0de8c5/5db0d3810b39e86c2f83df8d/Preseason_Gameplay_Reveal_Header.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.lol-menu {
  /* https://stackoverflow.com/a/33455342 */
  margin: auto;

  min-width: 450px;
  min-height: 450px;

  width: 450px;
  height: 450px;

  background-image: radial-gradient(circle, transparent 0%, transparent 28%, hsla(41, 48%, 38%, 1) 28%, hsla(41, 48%, 38%, 0) 56%);
}

.lol-ping__button {
  background-image: radial-gradient(circle, transparent 0%, transparent 13.5%, hsla(0, 0%, 0%, 0.4) 13.5%, hsla(0, 0%, 0%, 0.4) 28%, transparent 28%);
}

.lol-ping__button--major {
  background-image: radial-gradient(circle, transparent 0%, transparent 13.5%, hsla(0, 0%, 0%, 0.4) 13.5%, hsla(0, 0%, 0%, 0.4) 38%, transparent 38%);
}

.lol-ping:hover .lol-ping__button,
.lol-ping:focus .lol-ping__button {
  background-image: radial-gradient(circle, transparent 0%, transparent 13.5%, hsla(180, 70%, 40%, 1) 13.5%, hsla(0, 0%, 0%, 0.4) 28%, transparent 28%);
}

.lol-ping:hover .lol-ping__button--major,
.lol-ping:focus .lol-ping__button--major {
  background-image: radial-gradient(circle, transparent 0%, transparent 13.5%, hsla(180, 70%, 40%, 1) 13.5%, hsla(0, 0%, 0%, 0.4) 38%, transparent 38%);
}

.lol-ping__icon {
  width: 40px;
  height: 40px;
}

.lol-ping-indicator {
  position: relative;

  width: 180px;
  height: 180px;

  display: flex;
  align-items: center;
  justify-content: center;

  background-color: hsla(0, 0%, 0%, 65%);

  box-shadow: 0 0 0 3px hsl(41, 48%, 38%);
  border-radius: 50%;

  user-select: none;
  z-index: 1;
}

.lol-ping-indicator::before {
  position: absolute;
  top: 3px;
  right: 3px;
  bottom: 3px;
  left: 3px;

  content: '';

  border-radius: 50%;
  border: 3px solid hsl(41, 39%, 56%);
}

.lol-ping-indicator__label {
  color: white;

  font-family: serif;
  font-weight: 700;

  text-transform: uppercase;
  text-shadow: 0 0 4px black;
}

.lol-ping-arrow {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;

  margin: auto;
  pointer-events: none;

  width: 50px;
  height: 50px;
}

.lol-ping-arrow__bottom {
  stroke: hsl(175, 90%, 39%);
  stroke-width: 1px;
}

.lol-ping-arrow__center {
  fill: hsla(0, 0%, 0%, 65%);
}

.lol-ping-arrow__top {
  fill: hsl(41, 39%, 56%);
  filter: drop-shadow(0 0 1px hsla(0, 0%, 0%, 0.4));
}
