.lol-ping-menu {
  width: 450px;
  height: 450px;

  background-image: radial-gradient(circle, transparent 0%, transparent 28%, hsla(41, 48%, 38%, 100%) 28%, hsl(41, 48%, 38%, 0%) 56%);
}

.lol-ping__button {
  background-image: radial-gradient(circle, transparent 0%, transparent 28%, hsl(0, 0%, 40%) 28%, hsl(0, 0%, 95%) 56%, transparent 56%);
}

.lol-ping__button--major {
  background-image: radial-gradient(circle, transparent 0%, transparent 28%, hsl(0, 0%, 40%) 28%, hsl(0, 0%, 100%) 74%, transparent 74%);
}

.lol-ping:hover .lol-ping__button,
.lol-ping:focus .lol-ping__button {
  background-image: radial-gradient(circle, transparent 0%, transparent 28%, hsl(180, 70%, 40%) 28%, hsl(180, 70%, 95%) 56%, transparent 56%);
}

.lol-ping:hover .lol-ping__button--major,
.lol-ping:focus .lol-ping__button--major {
  background-image: radial-gradient(circle, transparent 0%, transparent 28%, hsl(180, 70%, 50%) 28%, hsl(180, 70%, 100%) 74%, transparent 74%);
}

.lol-ping__icon {
  width: 40px;
  height: 40px;
}

.lol-ping-indicator {
  width: 40%;
  height: 40%;

  display: flex;
  align-items: center;
  justify-content: center;

  background-color: hsla(0, 0%, 0%, 65%);

  box-shadow: 0 0 0 0.1875em hsl(41, 48%, 38%);
  border-radius: 100%;

  outline: 0.1875em solid hsl(41, 39%, 56%);
  outline-offset: -0.375em;

  user-select: none;
  z-index: 1;
}

.lol-ping-indicator__label {
  color: white;

  font-family: serif;
  font-size: 1rem;
  font-weight: 700;

  text-transform: uppercase;
  text-shadow: 0 0 4px black;
}

.lol-ping-arrow {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;

  margin: auto;
  pointer-events: none;

  width: 50px;
  height: 50px;
}

.lol-ping-arrow__bottom {
  stroke: hsl(175, 90%, 39%);
  stroke-width: 1px;
}

.lol-ping-arrow__center {
  fill: hsla(0, 0%, 0%, 65%);
}

.lol-ping-arrow__top {
  fill: hsl(41, 39%, 56%);
  filter: drop-shadow(0 0 1px hsla(0, 0%, 0%, 0.4));
}
