.ow {
  height: 100vh;
  overflow: auto;
}

.ow-background {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;

  background-image: url('https://images.blz-contentstack.com/v3/assets/blt2477dcaf4ebd440c/bltdad361c29b29b03a/5cef227acf7aa6330ac66561/eichenwalde-screenshot-003.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.ow-menu {
  border-radius: 0;
  clip-path: none;

  width: 100%;
  height: 100%;

  background-color: hsla(0, 0%, 0%, 0.7);
}

.ow-menu__divider {
  width: 2px;
  height: 250px;

  background-color: hsla(0, 0%, 70%, 0.8);
}

.ow-menu__center {
  position: relative;

  border: 4px solid white;

  border-radius: 50%;

  width: 184px;
  height: 184px;
}

.ow-menu__center::before {
  position: absolute;
  top: 4px;
  right: 4px;
  bottom: 4px;
  left: 4px;

  content: '';

  border-radius: 50%;
  border: 8px solid hsla(0, 0%, 70%, 0.8);
}

.ow-option__button::before {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;

  content: '';

  background-image: radial-gradient(circle, transparent 0, transparent 92px, hsla(218, 100%, 50%, 0.3) 92px);
  opacity: 0;
  transition: opacity 100ms ease-out;
}

.ow-option__button:hover::before {
  opacity: 1;
  transition: none;
}

.ow-hotkey {
  display: block;

  padding: 2px 8px 2px 5px;

  font-size: 1rem;
  font-weight: 700;
  font-style: italic;
  font-family: sans-serif;
  text-transform: uppercase;

  color: hsl(0, 0%, 20%);
  background-color: hsl(0, 0%, 80%);

  border: 2px solid hsl(0, 0%, 50%);
  border-radius: 4px;

  transform: skew(-14deg);
}

.ow-hotkey__label {
  display: block;
  transform: skew(14deg);
}

.ow-option__label {
  font-size: 1rem;
  font-weight: 700;
  font-family: sans-serif;
  text-transform: uppercase;
  letter-spacing: -0.05em;
  color: hsl(0, 0%, 80%);
}

.ow-option__icon {
  font-size: 3.5rem;
  color: hsl(0, 0%, 80%);
}

.ow-option__icon svg {
  display: block;
  width: 1em;
  height: 1em;
  fill: currentColor;
}
