.wheel-of-fortune {
  width: 600px;
  height: 600px;

  background-color: black;
  border: 1px solid black;
}

.wheel-of-fortune__button:hover,
.wheel-of-fortune__button:focus {
  background-color: hsla(0, 0%, 0%, 0.12);
}

.wheel-of-fortune__button:active {
  background-color: hsla(0, 0%, 0%, 0.24);
}

.wheel-of-fortune__center {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate3d(-50%, -50%, 0);

  width: 35%;
  height: 35%;
  border-radius: 50%;

  background-color: #49b85b;
  border: 1px solid black;
  user-select: none;

  z-index: 1;
}

.wheel-of-fortune__vertical {
  writing-mode: vertical-lr;
  text-orientation: upright;
}

.wheel-of-fortune__label {
  font-family: serif;
  font-weight: 700;
  font-size: 3rem;
  letter-spacing: -0.375em;

  writing-mode: vertical-lr;
  text-orientation: upright;
  text-transform: uppercase;
  text-shadow: 3px 1px hsl(0, 0%, 40%);
}

.wheel-of-fortune__price {
  font-size: 1.75rem;
  letter-spacing: -0.375em;
}
