.gta {
  height: 100vh;
  overflow: auto;

  display: flex;
  justify-content: center;
  align-items: center;
}

.gta-background {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;

  background-image: url('./Background.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

  filter: blur(6px);
}

.gta-background::after {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;

  content: '';

  background-color: hsla(0, 0%, 0%, 0.4);
}

.gta-menu {
  /* https://stackoverflow.com/a/33455342 */
  margin: auto;

  min-width: 600px;
  min-height: 600px;

  width: 600px;
  height: 600px;

  border-radius: 0;
  clip-path: none;
}

.gta-weapon {
  user-select: none;
}

.gta-weapon__layout {
  background-image: radial-gradient(circle, transparent 0, transparent 159px, hsla(0, 0%, 20%, 0.6) 160px, hsla(0, 0%, 20%, 0.6) 258px, hsla(0, 0%, 10%, 0.8) 259px, hsla(0, 0%, 10%, 0.8) 263px, transparent 264px);
}

.gta-weapon:hover .gta-weapon__layout,
.gta-weapon:focus .gta-weapon__layout {
  background-image: radial-gradient(circle, transparent 0, transparent 159px, hsla(230, 60%, 40%, 0.6) 160px, hsla(230, 60%, 40%, 0.6) 258px, hsla(0, 0%, 10%, 0.8) 259px, hsla(0, 0%, 10%, 0.8) 263px, transparent 264px);
}

.gta-weapon:active .gta-weapon__layout {
  background-image: radial-gradient(circle, transparent 0, transparent 159px, hsla(150, 60%, 40%, 0.6) 160px, hsla(150, 60%, 40%, 0.6) 258px, hsla(150, 80%, 20%, 0.6) 259px, hsla(150, 80%, 20%, 0.6) 269px, transparent 270px);
}

.gta-weapon__label {
  display: flex;
  flex-direction: column;
}

.gta-weapon__icon {
  width: 400px;
  height: 46px;

  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}

.gta-weapon__icon--pistol {
  background-image: url('./Pistol.png');
}

.gta-weapon__icon--smg {
  background-image: url('./SMG.png');
}

.gta-weapon__icon--rifle {
  background-image: url('./Rifle.png');
}

.gta-weapon__icon--sniper {
  background-image: url('./Sniper.png');
}

.gta-weapon__icon--fist {
  background-image: url('./Fist.png');
}

.gta-weapon__icon--shotgun {
  background-image: url('./Shotgun.png');
}

.gta-weapon__icon--minigun {
  background-image: url('./Minigun.png');
}

.gta-weapon__icon--grenade {
  background-image: url('./Grenade.png');
}

.gta-weapon-ammo {
  flex-basis: 1em;
  margin-top: 0.25em;

  font-family: sans-serif;
  font-size: 1.125rem;
  font-weight: 700;

  color: white;
  text-shadow: 0 0 1px transparent, 1px 2px 2px hsla(0, 0%, 0%, 0.8);
}

.gta-weapon-ammo__reserve {
  color: hsl(0, 0%, 60%);
}

.gta-menu__center {
  width: 336px;
  height: 336px;

  border-radius: 100%;

  z-index: 1;
}
