.cs {
  height: 100vh;
  overflow: auto;

  display: flex;
  justify-content: center;
  align-items: center;
}

.cs-background {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;

  background-image: url('Background.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.cs-background::before {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;

  content: '';

  background-color: hsla(0, 0%, 0%, 0.75);
}

.cs-menu {
  /* https://stackoverflow.com/a/33455342 */
  margin: auto;

  min-width: 600px;
  min-height: 600px;

  width: 600px;
  height: 600px;

  border: 4px solid hsla(0, 0%, 50%, 0.5);
  background-image: radial-gradient(circle, hsla(0, 0%, 60%, 0.7) 0, hsla(0, 0%, 0%, 0.5) 240px);
}

.cs-menu__team {
  position: relative;

  padding: 4px;
  border: 12px solid black;
  border-radius: 100%;

  background-color: black;
  background-image: url('./Team.png');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

  width: 92px;
  height: 92px;

  z-index: 1;
}

.cs-menu__team::after {
  position: absolute;
  top: -12px;
  right: -12px;
  bottom: -12px;
  left: -12px;

  content: '';

  border: 4px solid hsl(0, 0%, 40%);
  border-radius: 100%;
}

.cs-item {
  user-select: none;
}

.cs-item__button {
  background-color: hsla(0, 0%, 0%, 0.5);
}

.cs-item__button:hover,
.cs-item__button:focus {
  background-image: radial-gradient(circle, hsla(0, 0%, 60%, 0.5) 60px, hsla(0, 0%, 0%, 0.5) 300px);
}

.cs-item__hotkey {
  font-size: 1.25rem;
  color: hsl(0, 0%, 60%);
}

.cs-item__details {
  display: flex;
  justify-content: center;
}

.cs-item-details {
  display: flex;
  flex-direction: column-reverse;

  width: 150px;
}

.cs-item-details__price {
  margin-bottom: 0.25em;

  font-family: sans-serif;
  font-size: 1.25rem;

  color: hsl(114, 88%, 41%);
}

.cs-item-details__name {
  font-family: sans-serif;
  font-size: 1.25rem;

  color: hsl(0, 0%, 70%);
}
